/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #003366;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.survey-container{
  background-color: white;
  border-radius: 20px;
  width: 1500px;
}

/* Estilo para el párrafo debajo del título */
p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 15px;
}


/* FondoTransparente: La imagen de fondo que será grande y transparente */
.FondoTransparente {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
  opacity: 0.5; /* Ajusta la opacidad para que sea transparente */
  z-index: -1; /* Asegura que la imagen esté detrás de otros elementos */
}

/* Estilo para el header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  padding: 20px 0;
  background-color: #ececec; /* Color de fondo azul para el header */
}

.survey-container label {
  /* Estilos para los <label> dentro de .survey-container */
  color: #012549;
  font-weight: bold;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  height: 50px;
  width: 100%;
  padding: 2px;
}

.App__ubicacion {
  display: flex;
  flex-direction: column;    /* Asegura que los elementos estén apilados verticalmente */
  align-items: flex-start;   /* Alinea los elementos al inicio del contenedor */
  justify-content: flex-start; /* Alinea los elementos desde el inicio (arriba) */
}


.TitleLogo {
  max-width: 100%; /* Ajusta el tamaño según el contenedor */
  height: auto;
  z-index: 1;
  width: 250px;
  transition: all 0.3s ease; /* Transición suave para los cambios */
}

.TitleLogo:hover {
  width: 260px;
}

/* Estilo para el título principal */
.title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  color: white; /* Color oscuro para el título */
  z-index: 2;
}

/* Formulario */
form {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #e4e4e4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Fondo suave para el formulario */
}

/* Títulos dentro del formulario */
h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #003366;
  border-radius: 20px;
}

/* Agrupación de preguntas */
.question-group {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #5096ff; /* Fondo blanco para las preguntas */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de preguntas cerradas (radio y select) */
.question {
  margin-bottom: 10px;
  font-weight: bold;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option label {
  font-size: 0.8rem;
  color: #000000;
}

select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
}

select:focus, textarea:focus {
  border-color: #0074d9;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 116, 217, 0.5);
}

textarea {
  height: 150px;
  resize: vertical;
}

/* Botones */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #0074d9;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.button__enviar{
  background-color: #00224d;
}

button:hover {
  background-color: #005bb5;
}

.go-back-button {
  background-color: #34a8ac;
  color: #ffffff;
}

.go-back-button:hover {
  background-color: #e4e4e4;
  color: #0074d9;
}

/* Sección de respuesta libre */
.preguntaAbierta {
  margin-bottom: 15px;
}

.preguntaAbierta label {
  font-size: 1rem;
  color: #003366;
}

/* Estilos de las opciones en el select */
select option {
  color: #333;
  background-color: #ffffff;
}

/* Fondo del contenedor */
.container {
  text-align: center;
  width: 100%;
}

/* Color de encabezados de listas */
h1, h2 {
  color: #003366;
  font-size: 2rem;
  margin-top: 20px;
}

/* Estilo de lista y elementos de la encuesta */
ul {
  max-width: 600px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  color: #333;
  text-align: left;
}

li:last-child {
  border-bottom: none;
}

.button-container-app{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Sección de comentarios con campos de texto */
textarea {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  resize: vertical;
}

/* Fondo para diferenciación de secciones */
.question-group:nth-child(odd) {
  background-color: #baddff  ; /* Fondo gris claro para las secciones impares */
}

.question-group:nth-child(even) {
  background-color: #9ad0fc ; /* Fondo gris aún más claro para las secciones pares */
}

/* Si deseas hacer algo más personalizado solo para los campos libre_1 y libre_2 */
#libre_1, #libre_2 {
  background-color: #f9f9f9;  /* Fondo suave para los campos */
  color: #333;  /* Color de texto */
}

/* Estilo para el contenedor de los títulos */
.label-App {
  display: flex; /* Asegura que el label se comporte como un bloque */
  background: linear-gradient(45deg, #003366, #006699); /* Degradado de azul oscuro a azul más claro */
  color: white !important ; /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  border-radius: 20px !important ; /* Bordes redondeados */
  text-align: center; /* Alineación centrada */
  justify-content: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.label_title{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.question-text{
  display: flex;
  background: linear-gradient(45deg, #3399ff, #a1e0ff); /* Degradado de azul oscuro a azul más claro */
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  border-radius: 20px !important ;
}

.question-group__options{
  display: flex;
  align-items: center;
  justify-self: center;
}

.label-app__questions{
  padding: 20px;
}
/* Estilos generales para el botón "Enviar" */
.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(45deg, #003366, #006699); /* Degradado azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover para el botón "Enviar" */
.button-submit:hover {
  background-color: #00224d; /* Un tono más oscuro para el hover */
  transform: scale(1.05); /* Agrandar ligeramente al pasar el mouse */
}

/* Efecto activo para el botón "Enviar" */
.button-submit:active {
  transform: scale(0.98); /* Reducir el tamaño al hacer clic */
}

/* Estilo para el icono dentro del botón "Enviar" */
.button-submit .icon {
  margin-right: 8px;
}

/* Estilos generales para el botón "Volver al Home" */
.button-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(45deg, #4CAF50, #66bb6a); /* Degradado verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

/* Efecto hover para el botón "Volver al Home" */
.button-home:hover {
  background-color: #45a049; /* Cambia a un verde más claro */
  transform: scale(1.05); /* Agrandar ligeramente al pasar el mouse */
}

/* Efecto activo para el botón "Volver al Home" */
.button-home:active {
  transform: scale(0.98); /* Reducir el tamaño al hacer clic */
}

/* Estilo para el icono dentro del botón "Volver al Home" */
.button-home .icon {
  margin-right: 8px;
}

/* Contenedor para el botón "Volver al Home" */
.button-home-container {
  text-align: center;
  margin-top: 20px;
}

.editable-textarea {
  min-height: 100px;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  white-space: pre-wrap;  /* Para manejar el salto de línea */

  overflow-y: auto;
  list-style-type: disc;
  margin-left: 0;  /* Alinea las viñetas a la izquierda */
}

.editable-textarea p {
  pointer-events: none;
  margin: 0;
  padding-left: 20px;  /* Alinea el texto a la derecha de la viñeta */
  list-style-type: disc;
}

/* Estilo para las preguntas con letras más pequeñas */
.small-text {
  font-size: 20px; /* Tamaño de fuente más pequeño */
  color: #333;     /* Color de texto */
  font-weight: normal; /* Peso de la fuente */
  line-height: 1.5;  /* Espaciado entre líneas */
}

/* Estilo inicial para el radio button */
input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Para hacer que el radio sea perfectamente redondo */
  transition: all 0.3s ease; /* Transición suave para el hover */
  border: 2px solid #007BFF; /* Color de borde (puedes cambiarlo) */
  background-color: white; /* Fondo blanco */
  cursor: pointer; /* Cambia el cursor al pasar sobre el radio */
}

/* Estilo en hover */
input[type="radio"]:hover {
  width: 20px; /* Tamaño en hover */
  height: 20px; /* Tamaño en hover */
  background-color: #007BFF; /* Color de fondo al pasar el ratón */
  border-color: #0056b3; /* Cambia el color del borde en hover */
  transform: scale(1.2); /* Un pequeño aumento en el tamaño */
}

/* Estilo cuando el radio está seleccionado */
input[type="radio"]:checked {
  background-color: #007BFF; /* Fondo azul cuando está seleccionado */
  border-color: #0056b3; /* Bordes más oscuros cuando está seleccionado */
}

/* Estilos generales para el formulario */
.question-group {
  margin-bottom: 1rem; /* Espaciado entre las preguntas */
}

/* Asegurarse de que el label esté alineado adecuadamente */
.label {
  font-size: 14px; /* Tamaño de fuente para las etiquetas */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estilos para la sección de las opciones de trabajo */
.App__ubicacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -1rem;
}

/* Estilos de las etiquetas que contienen el texto */
.App__ubicacion label {
  display: flex;
  align-items: center; /* Alinea el texto al lado del radio */
  margin-bottom: 0.8rem; /* Espaciado entre las opciones */
  font-size: 15px;  /* Ajusta el tamaño del texto para evitar desbordamiento */
  word-wrap: break-word; /* Permite que el texto largo se ajuste al contenedor */
  max-width: 110%; /* Limita el ancho máximo de las opciones */
}

/* Mejorar el estilo del texto */
.App__ubicacion label span {
  word-wrap: break-word;
  font-size: 18px;
  max-width: 100%; /* Ajusta el texto dentro del contenedor */
}

.App__description {
  position: absolute;
  font-size: 14px;
  color: #555; /* Color más tenue */
  margin-top: 50px; /* Alinea con el radio button */
}

.App__value {
  font-size: 16px;

   font-weight: bold;
  margin-left: 28px; /* Alinea con el radio button */
  margin-bottom: 0.2rem; /* Espaciado con la descripción */
}