/* Footer.css */
.footer {
    background-color: #cccccc; /* El color de fondo */
    color: white; /* Asegura que el texto sea blanco */
    text-align: center; /* Centra el contenido */
    padding: 20px 0; /* Espaciado dentro del footer */
    box-sizing: border-box; /* Asegura que los bordes y padding no afecten el ancho */
    border-radius: 20px;
    position: relative; /* Permite que la imagen sea posicionada absolutamente */
    margin-top: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center; /* Centra el texto */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative; /* Necesario para posicionar la imagen dentro de este contenedor */
    font-weight: bold;
    width: 100%; /* Asegura que ocupe todo el ancho */
  }
  
  .footer img {
    position: absolute; /* Permite posicionar la imagen en la esquina */
    left: 20px; /* Coloca la imagen en la esquina izquierda */
    top: 50%; /* Centra verticalmente la imagen */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
    max-width: 10%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .title-footer{
    margin-left: 280px;
  }