/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal */
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
  }
  
  .modal.success {
    border: 2px solid green;
  }
  
  .modal.error {
    border: 2px solid red;
  }
  
  .modal h3 {
    margin-bottom: 20px;
  }
  
  .modal-close {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-close:hover {
    background-color: #0056b3;
  }
  
  input[type="radio"] {
    /* Cambia el tamaño del radio */
    width: 25px;  /* Ajusta el ancho */
    height: 25px;  /* Ajusta la altura */
    
    /* Alineación vertical */
    vertical-align: middle; /* Alineación vertical con el texto */
    margin-top: -5px;  /* Ajusta el margen superior */
    
    /* Estilos de transición para la interacción */
    transition: all 0.3s ease; /* Transición suave para cambios */
}

/* Efecto al pasar el ratón */
input[type="radio"]:hover {
    transform: scale(1.2); /* Hace que el radio se agrande ligeramente */
    cursor: pointer; /* Cambia el cursor cuando pasas sobre el radio */
}

/* Efecto al seleccionar (cuando está marcado) */
input[type="radio"]:checked {
    background-color: #06680a; /* Color de fondo cuando está marcado */
    border-color: #4CAF50;  /* Cambia el borde al estar seleccionado */
}

/* Efecto de enfoque cuando el radio está enfocado (clic o tabulación) */
input[type="radio"]:focus {
    outline: none;  /* Elimina el borde predeterminado de enfoque */
}
