/* Contenedor principal */
.survey-start-container-new {
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px; /* Max-width para el tamaño del contenedor */
  text-align: center;
}

/* Encabezado (Logo) */
.survey-start-header {
  margin-bottom: 20px; /* Espacio debajo del logo */
  background-color: white;
}

/* Logo */
.survey-start-title-logo {
  max-width: 80%;
  height: auto;
  object-fit: contain; /* Mantiene la proporción */
  transition: all 0.3s ease; 
}

/* Título */
.survey-start-title {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;

}

.survey-start-title-logo:hover {
  max-width: 82%;
}

/* Botón */
.survey-start-button {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Hace que el botón ocupe el ancho completo del contenedor */
  max-width: 300px; /* Tamaño máximo para el botón */
  margin-top: 20px;
}

.survey-start-button:hover {
  background-color: #0056b3;
}

.survey-start-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.img2{
  position: absolute; /* Permite posicionar la imagen en la esquina */
  left: 0px; /* Coloca la imagen en la esquina izquierda */
  top: 50%; /* Centra verticalmente la imagen */
  transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  max-width: 20%; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

.Footer-Start{
  display: flex;
  justify-content: center; /* Centra el texto */
  align-items: center; /* Centra el contenido verticalmente */
  position: relative; /* Necesario para posicionar la imagen dentro de este contenedor */
  font-weight: bold;
  width: 100%; /* Asegura que ocupe todo el ancho */
}

.survey-start-title2{
  margin-left: -30px;
}